body{
    background-color:rgb(235,224,179);
    color:rgb(55,95,38);
    font-size:16px;
    font-weight:700;
}
.menu{
    width:100%;
    background-color:rgb(55,95,38);
    
    
    height:40px;
    
}
.menu-data{
    text-decoration:none;
    font-size:20px;
    padding:10px;
    color:white;
    
    
    vertical-align:middle;
}
.menu-data:visited{
    color:white;
    

}
.block{
    width:60%;
    margin-left:20%;
    margin-right:20%;
}
p.text{
    color:black;
    font-weight:400;

    
}
.types{
    border-top:3px solid rgb(55,95,38);
    width:100%;
    height:auto;
    
}
.links{
    color:black;
    font-weight:700;
    text-decoration:none;
}
.links:visited{
    color:black;
}
img{
    float:left;
}